body,
html {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.password-generator-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Grey background color */
}

.footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
