body,
html {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.password-generator-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Grey background color */
  padding-top: 50px; /* Adjusted padding to provide space below the fixed h2 */
}

h2 {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 10px;
  margin: 0;
  text-align: center; /* Center the text */
  z-index: 1; /* Ensure it appears above other elements */
}

.input-container {
  margin-top: 10px;
  text-align: center;
}

input {
  padding: 12px;
  font-size: 16px;
  border: 2px solid #4caf50; /* Green border for contrast */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  transition: border-color 0.3s ease; /* Smooth transition on hover */
}

input:hover,
input:focus {
  border-color: #45a049; /* Darker green on hover/focus */
}

.button-container {
  margin-top: 10px;
}

.generate-button {
  background-color: #4caf50; /* Green color for contrast */
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.generate-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
